/* Add all the fonts here */
@import "foundation/fonts", "foundation/scrollbar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #1d1d1d;
    --grey-dark: #414141;
    --light: #fff;
    --mid: #ededed;
    --grey: #989898;
    --gray: #989898;
    --green: #28a92b;
    --green-dark: #4e9815;
    --green-light: #6fb936;
    --blue: #2c7ad2;
    --purple: #8d3dae;
    --red: #c82736;
    --orange: #e77614;

    --ds-grey: #222;

    accent-color: var(--green);
}

/* Font Styles - Set the System UI Font */
:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Global CSS */
:root {
    --fluid-min-width: 320;
    --fluid-max-width: 1140;
    --fluid-screen: 100vw;
    --fluid-bp: calc(
        (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
            (var(--fluid-max-width) - var(--fluid-min-width))
    );
}

@media screen and (min-width: 1140px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}

:root {
    --f-0-min: 18;
    --f-0-max: 20;
    --step-0: calc(
        ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
            var(--fluid-bp)
    );
    --f-1-min: 20;
    --f-1-max: 24;
    --step-1: calc(
        ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
            var(--fluid-bp)
    );
}

/* Startseiten CSS */
:root {
    --dark: #1d1d1d;
    --grey-dark: #414141;
    --light: #fff;
    --mid: #ededed;
    --grey: #989898;
    --gray: #989898;
    --green: #28a92b;
    --green-dark: #4e9815;
    --green-light: #6fb936;
    --blue: #2c7ad2;
    --purple: #8d3dae;
    --red: #c82736;
    --orange: #e77614;
    accent-color: var(--green);
}

html {
    scroll-behavior: initial;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body {
    background-color: var(--ds-grey);
    color: var(--light);
    font-family: var(--system-ui);
    font-weight: 300;
    font-size: var(--step-0);
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;

    /*
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.07) 2px,
            transparent 2px
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 0.07) 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    */
}

#smooth-wrapper {
    //overflow: hidden;
    //position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#smooth-content {
    overflow: visible;
    width: 100%;

    /* set a height because the contents are position: absolute, thus natively there's no height */
    //height: 4000px;
}

p {
    margin: 0;
}

p:not(:last-child),
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0 0 1em 0;
}

// animations
@import "animations/transitions";
